<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yngk.usermanage.dao.UserInfoDao">
	<resultMap id="BaseResultMap" type="com.yngk.usermanage.model.UserInfo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="group_id" property="groupId" jdbcType="VARCHAR" />
		<result column="user_login" property="userLogin" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
		<result column="safe_eval_pwd" property="safeEvalPwd" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="office_phone" property="officePhone" jdbcType="VARCHAR" />
		<result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="data_state" property="dataState" jdbcType="VARCHAR" />
		<result column="show_order" property="showOrder" jdbcType="INTEGER" />
		<result column="relation_user_num" property="relationUserNum"
			jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, group_id, user_login, pwd, safe_eval_pwd, name, email, office_phone,
		mobile_phone,
		update_time,
		data_state, show_order
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from webstarter_uam_user
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		webstarter_uam_user
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.yngk.usermanage.model.UserInfo">
		insert into
		webstarter_uam_user (id, group_id, user_login,
		pwd, safe_eval_pwd, name, email,
		office_phone,
		mobile_phone, update_time, data_state,
		show_order)
		values
		(#{id,jdbcType=VARCHAR},
		#{groupId,jdbcType=VARCHAR},
		#{userLogin,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR},
		#{safeEvalPwd,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{officePhone,jdbcType=VARCHAR},
		#{mobilePhone,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP},
		#{dataState,jdbcType=VARCHAR},
		#{showOrder,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.yngk.usermanage.model.UserInfo">
		insert into webstarter_uam_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="groupId != null">
				group_id,
			</if>
			<if test="userLogin != null">
				user_login,
			</if>
			<if test="pwd != null">
				pwd,
			</if>
			<if test="safeEvalPwd != null">
				safe_eval_pwd,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="officePhone != null">
				office_phone,
			</if>
			<if test="mobilePhone != null">
				mobile_phone,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="dataState != null">
				data_state,
			</if>
			<if test="showOrder != null">
				show_order,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="groupId != null">
				#{groupId,jdbcType=VARCHAR},
			</if>
			<if test="userLogin != null">
				#{userLogin,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="safeEvalPwd != null">
				#{safeEvalPwd,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="officePhone != null">
				#{officePhone,jdbcType=VARCHAR},
			</if>
			<if test="mobilePhone != null">
				#{mobilePhone,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="dataState != null">
				#{dataState,jdbcType=VARCHAR},
			</if>
			<if test="showOrder != null">
				#{showOrder,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yngk.usermanage.model.UserInfo">
		update webstarter_uam_user
		<set>
			<if test="groupId != null">
				group_id = #{groupId,jdbcType=VARCHAR},
			</if>
			<if test="userLogin != null">
				user_login = #{userLogin,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				pwd = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test="safeEvalPwd != null">
				safe_eval_pwd = #{safeEvalPwd,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="officePhone != null">
				office_phone = #{officePhone,jdbcType=VARCHAR},
			</if>
			<if test="mobilePhone != null">
				mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="dataState != null">
				data_state = #{dataState,jdbcType=VARCHAR},
			</if>
			<if test="showOrder != null">
				show_order = #{showOrder,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yngk.usermanage.model.UserInfo">
		update
		webstarter_uam_user
		set group_id = #{groupId,jdbcType=VARCHAR},
		user_login = #{userLogin,jdbcType=VARCHAR},
		pwd =
		#{pwd,jdbcType=VARCHAR},
		safe_eval_pwd = #{safeEvalPwd,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		email =
		#{email,jdbcType=VARCHAR},
		office_phone =
		#{officePhone,jdbcType=VARCHAR},
		mobile_phone =
		#{mobilePhone,jdbcType=VARCHAR},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP},
		data_state =
		#{dataState,jdbcType=VARCHAR},
		show_order =
		#{showOrder,jdbcType=INTEGER}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<select id="selectByLoginName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from webstarter_uam_user
		where user_login =#{loginName,jdbcType=VARCHAR}
	</select>
	<select id="selectListByGroupId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
	usr.*, count(RELATION.sub_id) relation_user_num
FROM
	(
		SELECT * FROM webstarter_uam_user
			WHERE group_id = #{ groupId,jdbcType = VARCHAR }
	) usr
LEFT JOIN (
	SELECT r.main_id, u.id sub_id
		FROM webstarter_uam_relation r, webstarter_uam_user u
			WHERE type = 'userMgrGroup' AND u.group_id = r.sub_id
	UNION
	SELECT r.main_id, r.sub_id
		FROM webstarter_uam_relation r
			WHERE type = 'userMgrUser'
) RELATION ON relation.main_id = usr.id
GROUP BY id,group_id,user_login,pwd,safe_eval_pwd,name,email,office_phone,mobile_phone,update_time,data_state,show_order
order by show_order
	</select>
	<select id="getPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from webstarter_uam_user
		<where>
			<if test="dataState!=null">
				data_state= #{dataState,jdbcType=VARCHAR}
			</if>
		</where>
		order by show_order
	</select>
	<select id="selectByUserName"  resultMap="BaseResultMap"
	parameterType="java.util.Map">
	SELECT
	usr.*, count(RELATION.sub_id) relation_user_num
	FROM
		(
			SELECT * FROM webstarter_uam_user
			<where>
				<if test="name != null and name != ''">
					 name like '%${name}%' or user_login like '%${name}%'
				</if>
			</where>
		) usr
	LEFT JOIN (
		SELECT r.main_id, u.id sub_id
			FROM webstarter_uam_relation r, webstarter_uam_user u
				WHERE type = 'userMgrGroup' AND u.group_id = r.sub_id
		UNION
		SELECT r.main_id, r.sub_id
			FROM webstarter_uam_relation r
				WHERE type = 'userMgrUser'
	) RELATION ON relation.main_id = usr.id
	GROUP BY id,group_id,user_login,pwd,safe_eval_pwd,name,email,office_phone,mobile_phone,update_time,data_state,show_order
	order by show_order
</select>

  <select id="selectUserByQueryCriteria" parameterType="com.yngk.usermanage.model.UserInfo" resultMap="BaseResultMap">
  	
    select RES.* 
    <include refid="selectUserByQueryCriteriaSql" />

  </select>
  
   <select id="selectUserCountByQueryCriteria" parameterType="com.yngk.usermanage.model.UserInfo" resultType="long">
    select count(RES.id)
    <include refid="selectUserByQueryCriteriaSql" />
  </select>
  
  <sql id="selectUserByQueryCriteriaSql">
    from webstarter_uam_user RES
    <where>
    	1 = 1
 		<if test="id != null">
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="groupId != null">
			and group_id = #{groupId,jdbcType=VARCHAR}
		</if>
		<if test="userLogin != null">
			and user_login = #{userLogin,jdbcType=VARCHAR}
		</if>
		<if test="pwd != null">
   			and RES.id in 
   			(select main_id from webstarter_uam_relation where sub_id in
   			(select id from webstarter_uam_role where name=#{pwd,jdbcType=VARCHAR})
   			 and type='userRole') 
		</if>
		<if test="safeEvalPwd != null">
   			and RES.id in 
   			(select main_id from webstarter_uam_relation where sub_id in
   			(select id from webstarter_uam_role where name=#{safeEvalPwd,jdbcType=VARCHAR})
   			 and type='userRole') 
		</if>
		<if test="name != null">
			and name like #{name,jdbcType=VARCHAR}
		</if>
		<if test="email != null">
			and email = #{email,jdbcType=VARCHAR}
		</if>
		<if test="officePhone != null">
			and office_phone = #{officePhone,jdbcType=VARCHAR}
		</if>
		<if test="mobilePhone != null">
			and mobile_phone = #{mobilePhone,jdbcType=VARCHAR}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="dataState != null">
			and data_state = #{dataState,jdbcType=VARCHAR}
		</if>
		<if test="showOrder != null">
			and show_order = #{showOrder,jdbcType=INTEGER}
		</if>
    </where>
  </sql>
  
  	<select id="selectByUserRole" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		u.*
		from webstarter_uam_user u,webstarter_uam_relation r
		where r.sub_id = #{roleId,jdbcType=VARCHAR} AND u.id=r.main_id
			  AND r.type = #{type,jdbcType=VARCHAR}
	</select>	
  	<select id="selectRelationUserList" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from webstarter_uam_user
		where group_id in
		(
			SELECT
				sub_id
			FROM
				webstarter_uam_relation r
			WHERE
				r.main_id = #{userId,jdbcType=VARCHAR}
			 AND r.type = 'userMgrGroup'
		)
		or
		id in
		(
			SELECT
				sub_id
			FROM
				webstarter_uam_relation r
			WHERE
				r.main_id = #{userId,jdbcType=VARCHAR}
			 AND r.type = 'userMgrUser'
		)
	</select>	
	<select id="selectListByGroupIdNoRelationNum" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT * FROM webstarter_uam_user
		WHERE group_id = #{ groupId,jdbcType = VARCHAR }
		order BY show_order
	</select>	
	<select id="getUsersByEName" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT * FROM webstarter_uam_user
		WHERE safe_eval_pwd like '${name}%'
		order BY show_order
	</select>	
</mapper>